body{
    background: #7b009d;
    font-family: 'Noto Serif', serif;
    font-family: 'Rowdies', cursive;
}
.main-container{
    display: flex;
    margin: 0 auto;
    max-width: 740px;
    min-height: 10px;
}
.container{
    width: 960px;
    min-height: 10px;
    background-image: linear-gradient(to bottom, #ffffc5, #ff8181);
    border-radius: 17px;
    padding: 10px;
    margin-top: 14px;
}
.container-logo img{
    width: 960px;
    min-height: 10px;
    border-radius: 17px;
    padding: 10px;
    margin-top: 14px;
    background: #ffffff;
}
.header{
    display: flex;
}
.title_block{
    width: 81%;
    height: 100%;
}
.title_block h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
}
.title_block h3{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 6px;
}
.translate{
    display: flex;
    width: 19%;
    height: 100%;
    text-align: right;
}
.translate select{
    margin-top: 22px;
    margin-left: 0%;
}
#languageSelect {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
    cursor: pointer;
}
#languageSelect option {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.main-navigation-container{
    position: fixed;
    top: 14px;
    left: 39px;
    background-image: linear-gradient(to bottom, #ffffc5, #ff8181);
    border-radius: 17px;
    padding: 6px;
}
.main-navigation-container h2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0px 20px 0px;
}
.website-navigation-text a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    display: inline-block;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #d7c5d2;
    margin-bottom: 10px;
}
.website-navigation-text a:hover {
    background-color: #fbfffe;
    transition: all 0.25s ease-in-out;
}
.website-navigation-text p{
    padding-bottom: 0.9px;
    padding: 0px 10px 0px 10px;
}
.main-site-container{
    display: flex;
}
.saidbar{
    width: 30%;
    height: 100%;
    padding: 0px 20px 20px 20px;
}
.saidbar h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 6px 0px 20px 0px;
}
.news-content{
    border: 4px solid #9354b7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 15px;
}
.news-content li{
    font-size: 18px;
    margin: 10px 0px 10px 10px;
}
.social_networks {
    text-align: center;
    border: 4px solid #9354b7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px 0px 10px 0px;
}
  
.social_networks img {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}
.social_networks a img:hover {
    transform: scale(1.25);
    transition: all 0.3s ease-in-out;
}
.work-schedule{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #9354b7;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 0px 10px 0px 10px;
}
.work-schedule p{
    font-size: 18px;
    margin: 10px 0px 10px 10px;
}
.main-content{
    width: 70%;
    height: 100%;
    padding: 0px 5px 20px 20px;
}
.main-content h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 6px 0px 20px 0px;
}
.advertisement{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #9354b7;
    border-radius: 15px;
    margin-bottom: 15px;
}
.advertisement h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement2{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #9354b7;
    border-radius: 15px;
    margin-bottom: 15px;
}
.advertisement2 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement2 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement3{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #9354b7;
    border-radius: 15px;
    margin-bottom: 15px;
}
.advertisement3 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement3 h5{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
    padding-right: 25px;
}
.advertisement3 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement4{
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #9354b7;
    border-radius: 15px;
    margin-bottom: 15px;
}
.advertisement4 img{
    padding: 8px 0px 8px 17px;
}
.advertisement4 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement4 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement5{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #9354b7;
    border-radius: 15px;
    margin-bottom: 15px;
}
.advertisement5 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement5 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.site-footer{
    display: flex;
}
.official-name{
    width: 45%;
    height: 100%;
    padding: 0px 10px 0px 10px;
}
.official-address{
    width: 25%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    border-left: 3px solid #9354b7;
    border-right: 3px solid #9354b7;
}
.official-address p{
    margin-bottom: 2px;
}
.official-address a{
    text-decoration: none;
    color: #000;
}
.official-address a:hover{
    color: #000e90;
}
.contacts-info{
    width: 30%;
    height: 100%;
    padding: 0px 10px 0px 55px;
}
.contacts-info p{
    margin-bottom: 2px;
}
.contacts-info a{
    text-decoration: none;
    color: #000;
}
.contacts-info a:hover{
    color: #000e90;
}
