body{
    background: #05386b;
    font-family: 'Noto Serif', serif;
    font-family: 'Rowdies', cursive;
}
.main-container{
    display: flex;
    margin: 0 auto;
    max-width: 740px;
    min-height: 10px;
}
.main-navigation-container{
    position: fixed;
    top: 14px;
    left: 39px;
    background: #8ee4af;
    border-radius: 17px;
    padding: 6px;
}
.container{
    width: 960px;
    min-height: 10px;
    background: #8ee4af;
    border-radius: 17px;
    padding: 10px;
    margin-top: 14px;
}
.container-logo img{
    width: 960px;
    min-height: 10px;
    border-radius: 17px;
    padding: 10px;
    margin-top: 14px;
    background: #ffffff;
}
.header{
    display: flex;
    background: #8ee4af;
}
.title_block{
    width: 70%;
    height: 100%;
}
.title_block h1{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
}
.title_block h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}
.translate{
    display: flex;
    width: 30%;
    height: 100%;
    text-align: right;
}
.translate select{
    margin-top: 16px;
    margin-left: 20%;
}
#languageSelect {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
    cursor: pointer;
}
#languageSelect option {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.main-navigation-text h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0px 20px 0px;
}
.website-navigation-text a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #35bba0;
    margin-bottom: 10px;
}
.website-navigation-text a:hover {
    background-color: #00f3c2;
}
.navigation-text{
    padding-right: 20px;
    padding-bottom: 0.9px;
}
.navigation-text a{
    font-size: 14px;
}
.main-site-container{
    display: flex;
}
.saidbar{
    width: 30%;
    height: 100%;
    padding: 0px 20px 20px 20px;
}
.saidbar h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 6px 0px 20px 0px;
}
.news-content{
    border: 4px ridge #06640d;
    margin-bottom: 15px;
}
.news-content li{
    font-size: 18px;
    margin: 10px 0px 10px 10px;
}
.work-schedule{
    border: 4px ridge #06640d;
    margin-bottom: 15px;
    padding: 0px 10px 0px 10px;
}
.work-schedule p{
    font-size: 18px;
    margin: 10px 0px 10px 10px;
}
.main-content{
    width: 70%;
    height: 100%;
    padding: 0px 5px 20px 20px;
}
.main-content h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 6px 0px 20px 0px;
}
.advertisement{
    border: 5px ridge #06640d;
    margin-bottom: 15px;
}
.advertisement h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement2{
    border: 4px ridge #06640d;
    margin-bottom: 15px;
}
.advertisement2 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement2 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement3{
    border: 4px ridge #06640d;
    margin-bottom: 15px;
}
.advertisement3 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement3 h5{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
    padding-right: 25px;
}
.advertisement3 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement4{
    display: flex;
    border: 4px ridge #06640d;
    margin-bottom: 15px;
}
.advertisement4 img{
    padding: 8px 0px 8px 17px;
}
.advertisement4 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement4 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.advertisement5{
    border: 4px ridge #06640d;
    margin-bottom: 15px;
}
.advertisement5 h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
}
.advertisement5 p{
    text-align: center;
    font-size: 15.5px;
    padding: 0px 20px 0px 20px;
    margin: 6px 0px 6px 0px;
}
.site-footer{
    display: flex;
}
.official-name{
    width: 45%;
    height: 100%;
    padding: 0px 10px 0px 10px;
}
.official-address{
    width: 25%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    border-left: 3px ridge #06640d;
    border-right: 3px ridge #06640d;
}
.official-address p{
    margin-bottom: 2px;
}
.official-address a{
    text-decoration: none;
    color: #000;
}
.official-address a:hover{
    color: #000e90;
}
.contacts-info{
    width: 30%;
    height: 100%;
    padding: 0px 10px 0px 55px;
}
.contacts-info p{
    margin-bottom: 2px;
}
.contacts-info a{
    text-decoration: none;
    color: #000;
}
.contacts-info a:hover{
    color: #000e90;
}
